@import "../../common/scss/variables.scss";

.results-container {
  padding: 60px 10%;

  .results-title {
    font-size: 2rem;
    font-weight: 500;
  }

  .search-results-title {
    font-size: 2rem;
    color: gray;
    font-weight: 500;
  }

  .results {
    margin-top: 30px;
  }
}
