@import "../../common/scss/variables.scss";

.search-bar-hidden {
  padding: 5px;
  overflow: hidden;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: width 0.5s, background-color 0.5s, border 0.5s;
  &:hover {
    border: 1px solid $primary-color;
    background-color: $dark-background;
    width: 420px;
    input {
      opacity: 1;
    }
  }

  input {
    border: none;
    background: none;
    border-color: none;
    outline: none;
    color: $primary-color;
    opacity: 0;
    transition: opacity 0.5s 0.2s;
    width: 400px;
  }
  img {
    width: 20px;
  }
}

.search-bar-show {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $dark-background;
  border: 1px solid $primary-color;
  transition: width 0.5s, border 0.5s;

  input {
    border: none;
    background: none;
    border-color: none;
    outline: none;
    width: 400px;
    color: $primary-color;
  }

  img {
    width: 20px;
  }
}
