@import "./common/scss/variables.scss";

.App {
  min-height: 100vh;
}

.accent {
  color: $accent-color;
}

.bold {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.spinner {
  width: 32px;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
